.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.ExpenseInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ExpenseInfo input {
  height: 25px;
  width: 200px;
  font-size: 20px;
  margin: 5px;
}

.ExpenseInfo button {
  height: 25px;
  width: 150px;
  margin-top: 5px;
}

.ExpenseInfo button:hover {
  cursor: pointer;
}